.item { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 786px;
  height: 76px;
}
img {
  width: 100px;
  height: 60px;
}
p{
  margin: 0px;
}
button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}
.edit-btn {
  background: #414141;
  color: #E5E5E5;
}
.delete-btn {
  background: #FF9800;
  color: #1C313A;
  margin-left: 6px;
}