
<div class="container-fluid fondo-img text-center px-0">
    <app-header></app-header>
      <div class="index mb-5 pb-md-5">
        <h1 class="pt-md-5 text-orange">PINEAPPLE</h1>
        <h6 class="text-gray">Supermarket APP</h6>
      </div>
      <div class="card-group">
        <div class="card text-light bg-orange">
          <div class="card-body">
            <h5 class="card-title">G4</h5>
            <p class="card-text">Equipo conformado por nacionalidad peruana y mexicana.</p>
          </div>
        </div>
        <div class="card text-gray bg-light">
          <div class="card-body">
            <p class="card-text">Sheilly Rodas</p>
            <p class="card-text">Maria Lourdes Apaza Chavez</p>
            <p class="card-text">Claudia Verenisse Benezir Lujan Eyzaguirre</p>
            <p class="card-text">Alma Laura Meza Muñoz</p>
          </div>
        </div>
        <div class="card text-light bg-gray">
          <div class="card-body">
            <p class="card-text"><strong>URL de Github</strong></p>
            <p class="card-text">/ja-pinneaple-app.</p>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>
