<div class="container-fluid az-body bg-gray-base">
  <div class="az-signin-wrapper">
    <div class="az-card-signin">
        <img class="align-self-center" src="\assets\img\white-logo.png" alt="Pineapple Supermarket" width="200" height="150">
      <div class="">
        <form [formGroup]="form">
          <div class="form-group align-items-center text-center">
              <p class="text-white">Ingresa tu email. Enviaremos un correo electrónico con un link donde podras restablececer tu contraseña</p>
              <input type="email" formControlName="email" class="form-control form-control-rounded mb-2" placeholder="Email" required>
          </div>
        </form>
      </div>
      <button class="btn  form-control-rounded bg-orange" (click)="sendEmail()">
        ENVIAR INSTRUCCIONES
      </button>
      <br>
      <div class="form-group text-center text-white">
        <p class="font-bold"><strong><a class="link" href="/login">Iniciar sesión?</a></strong></p>
      </div>

  </div>

</div>
