<div class="container-fluid az-body bg-gray-base">
  <div class="az-signin-wrapper">
    <div class="az-card-signin">
        <img class="align-self-center" src="\assets\img\white-logo.png" alt="Pineapple Supermarket" width="200" height="150">
        <h5 class="text-white align-self-center">Restablecer contraseña</h5>
      <div class="">
        <form>
          <div class="form-group align-items-center text-center">
              <p class="text-white ">Crea una nueva ontraseña</p>
              <input type="password" class="form-control form-control-rounded mb-2" placeholder="Contraseña">
              <input type="password" class="form-control form-control-rounded mb-2" placeholder="Confirmar contraseña">
          </div>
        </form>
      </div>
      <button class="btn form-control-rounded bg-orange">
        GUARDAR
      </button>
      <br>
  </div>

</div>
