<app-header></app-header>
<hr>
<div class="container my-3">
  <div class="col-12">
    <form>
      <div class="form-group form-inline">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)"/>
            <mat-placeholder class="placeholder"
              >Buscar</mat-placeholder
            >
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-6">
          <button mat-flat-button (click)="createDialog()" class="btn bg-green-light form-control-rounded px-4 mx-2 float-right">
            <fa-icon [icon]="faPlus"></fa-icon>
            NUEVO
          </button>
        </div>
      </div>
      <div *ngIf="users$ | async" class="w-100">
        <table mat-table [dataSource]="dataSource" class="table table-striped" matSort>
          <!--<img [src]="'https://picsum.photos/200/300?random=' + element.id" class="mr-2" style="height: 50px">-->
          <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Usuario
              </th>
              <td class="pt-2" mat-cell *matCellDef="let element">
                  {{ element.username }}
              </td>
          </ng-container>

          <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Correo
              </th>
              <td class="pt-2" mat-cell *matCellDef="let element">
                  {{ element.email}}
              </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Nombre
            </th>
            <td class="pt-2" mat-cell *matCellDef="let element">
                {{ element.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Apellido
            </th>
            <td class="pt-2" mat-cell *matCellDef="let element">
                {{ element.surname}}
            </td>
          </ng-container>

          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Rol
            </th>
            <td class="pt-2" mat-cell *matCellDef="let element">
                {{ element.roles}}
            </td>
          </ng-container>

          <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Creado
              </th>
              <td class="pt-2" mat-cell *matCellDef="let element">
                  {{ element.created_at }}
              </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td class="pt-2" mat-cell *matCellDef="let element">
              <button class="icon edit-btn" color="primary" (click)="editDialog(element)">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
              <button class="icon delete-btn" color="success" (click)='delete(element)'>
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="clickeable-row"></tr>
          <tr class="mat-row" *matNoDataRow>
              <td class="pt-2" mat-cell colspan="4">
                  No hay datos
              </td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15]" class="mat-paginator-sticky">
        </mat-paginator>

      </div>

    </form>
  </div>
</div>
