<app-header></app-header>
<hr>
<div class="container my-3">
  <div class="col-12">
    <form>
      <div class="form-group form-inline">
        <div class="col-6">
          Buscar: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
          <span class="ml-3" *ngIf="service.loading$ | async">Cargando...</span>
        </div>
          <div class="col-6">
            <button type="button" [routerLink]="['/user/form']" class="btn bg-green-light form-control-rounded px-4 mx-2 float-right">
              <fa-icon [icon]="faPlus"></fa-icon>
              NUEVO
            </button>
          </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Usuario</th>
          <th scope="col" >Correo</th>
          <th scope="col" >Nombre</th>
          <th scope="col" >Apellidos</th>
          <th scope="col">Rol</th>
          <th scope="col">Fecha de creación</th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>
            <img [src]="'https://picsum.photos/200/300?random=' + user.id" class="mr-2" style="width: 60px">
          </td>
          <td><ngb-highlight [result]="user.username" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.email" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.name" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.surname" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.roles" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.created_at | date:'EEE,MMMM d, y'" [term]="service.searchTerm"></ngb-highlight></td>
          <td>
            <button class="icon edit-btn" [routerLink]="['/user/form', user.id]">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
          </td>
          <td>
            <button class="icon delete-btn" (click)='delete(user)'>
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="2">2 registros por página</option>
          <option [ngValue]="4">4 registros por página</option>
          <option [ngValue]="6">6 registros por página</option>
        </select>
      </div>

    </form>
  </div>
</div>
