<!-- Formulario para agregar y editar producto -->
<h1 mat-dialog-title class="text-center"> {{ product ? 'EDITAR PRODUCTO' : 'CREAR NUEVO PRODUCTO' }} </h1>
<div mat-dialog-content>
  <form [formGroup]="formProduct">
    <div class="col-12 form-row">
      <div class="col-sm-12">
        <div class="form-group">
          <div>
            <input type="text" class="form-control form-control-rounded" placeholder="Nombre del producto"
            formControlName="name" name="name">
          </div>
        </div>
        <div class="mb-3">
          <select class="custom-select form-control-rounded" formControlName="category" id="validationDefault04" required>
            <option selected disabled  value="">Categoría...</option>
            <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="price">Precio Unico</label>
            <input type="number" id="price" class="form-control form-control-rounded"
            pattern='[0-9]+(\.[0-9][0-9]?)?' formControlName="unitPrice" placeholder="Precio Unitario" name="priceUnit">
          </div>
          <div class="col-sm-6">
            <label for="quantity">Cantidad</label>
            <input type="number" id="quantity" class="form-control form-control-rounded" placeholder="Cantidad"
            formControlName="quantity" name="quantity">
          </div>
        </div>
        <div class="form-group mb-3 custom-file">
          <input type="file" class="custom-file-input form-control-rounded" id="picture" lang="es">
          <label class="custom-file-label form-control-rounded" for="picture">Seleccionar Archivo</label>
        </div>
        <div class="mb-3">
          <textarea class="form-control form-control-rounded" formControlName="description" id="description" placeholder="Descripción"></textarea>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">CANCELAR</button>
    <button mat-button class="btn px-5 text-white bg-green-light form-control-rounded" (click)='create()' *ngIf="!product">CREAR</button>
    <button mat-button class="btn px-5 text-white bg-green-light form-control-rounded" (click)='update()' *ngIf="product">GUARDAR</button>

  </div>
