<!-- Footer -->
<footer class="footer bg-dark text-center">
  <div class="container pt-4 pb-4">
    <div class="row text-white text-size justify-content-center">
        <div class="col-4 align-items-center">
          <a href="https://www.linkedin.com/in/maria-apaza-645042186/" class="fa fa-linkedin"></a>
          <a href="https://github.com/MBlev" class="fa fa-github"></a>
          <p>Maria Apaza<br>
            loudev07@gmail.com
          </p>
        </div>
        <div class="col-4">
          <img src="\assets\img\white-logo.png" alt="Pineapple supermarket app" width="120">
          <p class="text-white my-2">Equipo G4</p>
        </div>
        <div class="col-4">
          <a href="https://www.linkedin.com/in/alma-laura-meza-mu%C3%B1oz-351663155/" class="fa fa-linkedin"></a>
          <a href="https://github.com/almalaura" class="fa fa-github"></a>
          <p>Alma Meza<br>
            almalaura.meza@gmail.com
          </p>
        </div>
      </div>
  </div>
</footer>
