<!-- Footer -->
<footer class="footer bg-dark text-center">
  <div class="container">
    <div class="row justify-content-end">
        <div class="col-4">
          <p class="text-white my-2">App for Team G4</p>
        </div>
        <div class="col-4">
          <ul class="list-unstyled text-white my-2 justify-content-left">
            <li>sheillyrolo@gmail.com</li>
            <li> mb.lev17@gmail.com</li>
            <li>verenisse.eyzaguirre@gmail.com</li>
            <li>almalaura.meza@gmail.com</li>
           </ul>
        </div>
      </div>
  </div>
</footer>
